.gap
{
    margin: 100px;
}

nav img{
    width: 250px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
}

nav a{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    color: #16394B;
}




.info{
    border-collapse: collapse;
    margin: 25px 0px 50px;
    min-width: 400px;
    font-family: 'Courier New', Courier, monospace;

}

.info thead tr {
    background-color: lightseagreen ;
    text-align: left;
    color: #16394B;
}

.info th, td {
    padding: 12px 15px;
}

.info tbody tr {
    border-bottom: 1px solid lightslategray;
}

.add2-button{
    display: inline-block;
    text-decoration: none;
    border: 1px solid #16394B;
    color: #16394B;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    background: transparent;
    position: relative;
    cursor: pointer;
}


.add2-button:hover{
    border: 1px solid rgb(212, 212, 214);
    background: rgb(212, 212, 214);
    transition: 1s;
}

.c2{
    margin-left: 350px;
}